.content[data-module="inbox"] .filter .messages .message {
    
}

.content[data-module="inbox"] .filter .messages .message {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.content[data-module="inbox"] .filter .messages .message:hover {
    background-color: #FAFBFC;
}

.content[data-module="inbox"] .filter .messages .message.active {
    background-color: #FAFBFC;
}

.content[data-module="inbox"] .filter .messages .message:hover .date,.content[data-module="inbox"] .filter .messages .message.active .date {
	color:#455872;
}

.content[data-module="inbox"] .filter .messages .message span.number {
	background:#4ece3d;
	color:#fff;
	font-size:10px;
	padding:2px 9px;
	border-radius:17px;
	float:right;
}

.content[data-module="inbox"] .filter .messages .message:hover span.number {
	display:block;
}

.content[data-module="inbox"] .filter .messages .message + .message {
    border-top: 1px solid #EEF4F9;
}

.content[data-module="inbox"] .filter .messages .message .date {
    color: #8DABC4;
    font-size: 13px;
    float: right;
    float: right;
}

.content[data-module="inbox"] .filter .messages .message img {
    float: left;
    height: 36px;
    width: 36px;
}

.content[data-module="inbox"] .filter .messages .message .message-info {
    margin-left: 56px;
}

.content[data-module="inbox"] .filter .messages .message h3 {
    color: #3F536E;
    font-size: 15px;
    font-weight: 400;
}

.content[data-module="inbox"] .filter .messages .message p {
    color: #8DABC4;
    font-size: 13px;
    margin-bottom: 0;
}



